.intro {
  padding-top: 50px;
  padding-bottom: 75px;
}

.intro__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.intro__img {
  margin-right: 100px;
}

.intro__iphone {
  max-width: 263px;
  height: 500px;
}

.intro__heading {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: -0.553846px;
  color: #36536B;
  padding-bottom: 25px;
}

.intro__form{
  font-family: 'DM Serif Display', sans-serif;
  position: relative;
  width: 445px;
  margin-bottom: 16px;
}

.intro__input{
  width: 100%;
  opacity: 1; 
  border-radius: 24px;
  border: none;
  padding-top: 14px;
  padding-bottom: 15px;
  padding-left: 27px;
  padding-right: 5px;
  background-color: #FBFCFE;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
}

.intro__input::placeholder{
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #36536B;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.intro__button{
  width: 173px;
  padding: 15px 20px;
  background-color: #BA4270;
  position: absolute;
  border-radius: 24px;
  bottom: 0px;
  right: 0px;
  z-index: 5;
  font-weight: 700;
  border: none;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.115385px;
  color: #FBFCFE;
}

.intro__button:hover{
  background: #DA6D97;
}

.intro__texts {
  font-family: 'Public Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  padding-top: 15px;
  color: #6C8294;
}

.intro__span {
  font-weight: 700;
}

@media (max-width: 760px) {
  
  .intro__form{
    max-width: 445px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 16px;
  }
}

@media (max-width: 698px) {

  .intro__inner {
    flex-direction: column-reverse;
  }

  .intro__img {
    margin-right: 0px;
  }

  .intro__iphone {
    max-width: 159px;
    width: 100%;
    max-height: 300px;
    height: 100%;
  }

  .intro__heading {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.369231px;
    color: #36536B;
    padding-top: 50px;
    padding-bottom: 22px;
  }

  .form__input {
    margin-left: 40px;
  }

  .intro__texts {
    text-align: center;
  }
}

@media (max-width: 420px) {

  body {
    background-size: 513px 294px;
    background-position: 103% 0%;
  }

  .intro__heading {
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
  }

  .intro__form{
    max-width: 328px;
    width: 100%;
    margin-bottom: 16px;
  }

  .intro__button{
    position: relative;
    width: 100%;
    margin-top: 16px;
  }

  .intro__iphone {
    max-width: 128px;
    width: 100%;
    max-height: 240px;
    height: 100%;
  }

  .btn {
    position: relative;
    left: 40px;
    width: 285px;
    margin-top: 20px;
  }
}